<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
            <a class="extra" href="http://github.com/marcusstenbeck/exjobb">code repository</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Marcus Stenbeck<br />
                Student of <a href="http://www.liu.se/utbildning/program/medieteknik?l=sv" title="Description of program (swedish)" target="_blank">M.Sc. in Media Technology</a> at <a href="http://www.liu.se" title="Linköping's University website" target="_blank">Linköping's University</a><br />
                <a href="mailto:marst241@student.liu.se">marst241@student.liu.se</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="http://marcusstenbeck.com">marcusstenbeck.com</a><br />
                <a href="https://github.com/marcusstenbeck">github.com/marcusstenbeck</a><br />
                <a href="https://twitter.com/marcusstenebck">twitter.com/marcusstenbeck</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
